* {
    padding: 0;
    margin: 0;
    color: rgb(3, 134, 58);
    font-family: serif;
    background-color: rgb(46, 40, 46);
}

.grid-container {
    display: block;
}

.header {
    background-image: url("./resource/by_daniel_hajdacki_on_unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    color: rgb(245, 229, 6);
    font-size: 2.4rem;
    text-align: center;
    padding: 35px 0 30px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.wrapper div {
    width: 300px;
    height: 200px;
    border: 2px solid rgb(3, 134, 58);
    border-radius: 12px;
    box-shadow: 12px 12px 2px 1px rgba(3, 134, 58, 0.35);
    margin: 20px;
}

a {
    text-decoration: none;
}

.link-project {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-project:hover {
    background-color: rgba(3, 134, 58, 0.2);
}

.left-sidebar, .rigt-sidebar {
    display: none;
}

.footer {
    padding: 20px 15px;
    background-color: #333;
}

.footer p {
    font-size: 1.2rem;
    color: #ccc;
    background: transparent;
}

.footer a {
    background: transparent;
}

/************* Media Query ***************/

@media (min-width: 500px) {
    .header {
        font-size: 3rem;
    }
}

@media (min-width: 688px) {
    .header {
        font-size: 4rem;
    }
}

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto auto auto;
    }

    .header {
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 4.5rem;
    }

    .body {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .left-sidebar {
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url("./resource/by_filip_zrnzevic_on_unsplash.jpg");
        background-size: cover;
    }

    .left-sidebar p:first-child, .rigt-sidebar p:first-child {
        background: transparent;
        padding: 30px 10px 20px;
        font-size: 1.5rem;
        text-align: center;
    }

    .left-sidebar p:nth-child(2), .rigt-sidebar p:nth-child(2) {
        background: transparent;
        padding: 0 10px;
        text-align: right;
    }

    .rigt-sidebar {
        display: block;
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url("./resource/by_ezhil_kumaran_on_unsplash.jpg");
        background-size: cover;
    }

    .wrapper div {
        width: 170px;
        height: 120px;
    }

    .link-project {
        font-size: 1.5rem;
    }

    .footer {
        grid-column: 1/4;
        grid-row: 3/4;
    }
}

@media (min-width: 1024px) {
    .header {
        font-size: 5rem;
        font-weight: 700;
    }

    .wrapper div {
        width: 260px;
        height: 160px;
    }

    .link-project {
        font-size: 2rem;
    }

    .left-sidebar p:first-child, .rigt-sidebar p:first-child {
        font-size: 2rem;
    }

    .left-sidebar p:nth-child(2), .rigt-sidebar p:nth-child(2) {
        font-size: 1.5rem;
    }
}